.main {
    width: 200px;
    height: 1100px;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(9, 105, 157);
    float: left;
    position: fixed;


}

.mainhead {
    font-size: 20px;
    font-weight: bold;
    color: azure;
    
}

.l1 {
 color: azure;
 float: left;
 padding-left: 60px;
}



.content {
    margin-left: 200px;
    text-align: left;


}


.image1 {
    width: 100%;
    height:500px;

}

h3 {
    font-size: 200;
    color: rgb(7, 124, 139);

}

.content2 {

    padding: 20px;
    margin: left;
    text-align: left;

}

.image2 {
    float: left;
    height: 250px;
    width: 290px;
    padding-right: 20px ;
    padding-left: 200px;


}

.button {

    background: #006597;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.gallery {
    margin: left;
    text-align: left;
    padding: 20px 20px 0px ;


}

.image3 {
    height: 100px;
    width: 100px;
    padding-left: 20px;

}

.main3 {
    padding-left: 20px;
}

body {
    padding: 0px;
    margin: 0px;
}
